/*
green: #2fbc63
blue: #178ccc
white: #eee
*/

body {
    background-color: #eee;    
}

header {
    position: fixed;
    top: 0px;
    width:100%;
    background-color: #eee;
    z-index:999;
}
    header h4 {
        border-bottom: 1px solid #e6e6e6;
        background-color: #eee;
    }

footer {
    position: fixed;
    bottom: 0px;
    width:100%;
    background-color: #eee;
}

.link {
    color:#178ccc;
}
.link:hover {
    color:#178ccc;
    text-decoration: underline;
    cursor:pointer;
}