body {
    font-family: "Courier New";
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

p, span, a {
	font-family: 'Muli', sans-serif;
}

header {
    position: fixed;
    top: 0px;
    width:100%;
    /*background-color: #eee;*/
    z-index:999;
}
    header h4 {
        /*border-bottom: 1px solid #e6e6e6;*/
        /*background-color: #eee;*/
    }

footer {
    position: fixed;
    bottom: 0px;
    width:100%;
    /*background-color: #eee;*/
}

.no-margin { margin: 0px; }
.margin-top-sm { margin-top: 25px; }
.margin-top-md { margin-top: 50px; }
.margin-top-lg { margin-top: 100px; }
.margin-sm { margin-top: 25px 0px; }
.margin-md { margin-top: 50px 0px; }
.margin-lg { margin-top: 100px 0px; }
.margin-bottom-sm { margin-bottom: 25px; }
.margin-bottom-md { margin-bottom: 50px; }
.margin-bottom-lg { margin-bottom: 100px; }

.padding-top-sm { padding-top: 25px; }
.padding-top-md { padding-top: 50px; }
.padding-top-lg { padding-top: 100px; }
.padding-sm { padding: 25px 0px; }
.padding-md { padding: 50px 0px; }
.padding-lg { padding: 100px 0px; }
.padding-bottom-sm { padding-bottom: 25px; }
.padding-bottom-md { padding-bottom: 50px; }
.padding-bottom-lg { padding-bottom: 100px; }