{% extends 'base.html' %}

{% block extra_head %}
<link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="margin-top-md">&nbsp;</div>
<div class="row-fluid">
    <div class="col-sm-3 margin-top-sm">
        <h5><strong>writing</strong></h5>
        <p>
            Lorem ipsum <a class="link">dolor</a> sit amet, consectetur adipisicing elit. Sit dolorem enim reprehenderit perspiciatis placeat culpa dicta, commodi cum expedita. Illum accusamus nesciunt velit. Molestias architecto aliquam ducimus laudantium, sunt optio.
        </p>   
    </div>
    <div class="col-sm-3 margin-top-sm">
        <h5><strong>drawings</strong></h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit dolorem enim reprehenderit perspiciatis placeat culpa dicta, commodi cum expedita. Illum accusamus nesciunt velit. Molestias architecto aliquam ducimus laudantium, sunt optio.
        </p>   
    </div>
    <div class="col-sm-3 margin-top-sm">
        <h5><strong>pictures</strong></h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit dolorem enim reprehenderit perspiciatis placeat culpa dicta, commodi cum expedita. Illum accusamus nesciunt velit. Molestias architecto aliquam ducimus laudantium, sunt optio.
        </p>   
    </div>
    <div class="col-sm-3 margin-top-sm">
        <h5><strong>videos</strong></h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit dolorem enim reprehenderit perspiciatis placeat culpa dicta, commodi cum expedita. Illum accusamus nesciunt velit. Molestias architecto aliquam ducimus laudantium, sunt optio.
        </p>   
    </div>
</div>
<div class="padding-top-md">&nbsp;</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
</script>
{% endblock %}