{% extends 'base.html' %}

{% block title %}Aidan{% endblock title %}

{% block extra_head %}
<link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">
{% endblock %}

{% block main %}
<div id="always">
    <div id="not-yet">this page is under development <span>&block;</span></div>
    <div class="hold-me picture-holder"></div>
    <div class="hold-me options-holder">
        <!-- <div class="option right"><span>Projects</span></div>
        <div class="option left"><span>About</span></div>
        <a class="social twitter" href=""></a>
        <a class="social github" href=""></a>
        <a class="social linkedin" href=""></a> -->
    </div>
    <a id="contact" href="mailto:aidankmcl@gmail.com">contact</a>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
</script>
{% endblock %}